.inicio-carousel {
    height: 250px;
}

.inicio-img-carousel {
    height: 250px;
    object-fit: cover;
}

.inicio-img {
    height: 700px;
    object-fit: cover;
}

.instalaciones-carousel {
    width: 400px;
    height: 300px;
}

.instalaciones-img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: dimgray;
    text-decoration: none;
}

.navbar-dark .navbar-nav .dropdown-menu .dropdown-item.active {
    background-color: dimgray;
}

.navbar-dark .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: dimgray;
}